## Fresher's Job Listings from www.internshala.com (BeautifulSoup Web Scraping)

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
page = requests.get("https://internshala.com/fresher-jobs")
soup=BeautifulSoup(page.content)

In [3]:
job_title = []
company_name = []
ctc = []
apply_date = []

In [4]:
job_name = soup.find_all("div",class_="heading_4_5 profile")
for i in job_name:
    job_title.append(i.text.replace("\n",""))

In [5]:
company = soup.find_all("div",class_="heading_6 company_name")
for i in company:
    company_name.append(i.text.replace("\n","").split())

In [6]:
job_info = []
CTC= soup.find_all("div",class_="item_body")
for i in CTC:
    job_info.append(i.text.replace("\n","").split())

In [7]:
for i in range(1,len(job_info),3):
    ctc.append(job_info[i])

In [8]:
for i in range(2,len(job_info),3):
    apply_date.append(job_info[i])

## Fresher's Job List

In [9]:
Fresher_Jobs= pd.DataFrame(index = list(range(1,41)))
Fresher_Jobs["Job Title"] = job_title
Fresher_Jobs["Company Name"] = company_name
Fresher_Jobs["CTC"] = ctc
Fresher_Jobs["Apply Date"] = apply_date

Fresher_Jobs

,Job Title,Company Name,CTC,Apply Date
1,Sales Manager/Omni Sport Leader - Retail,"[Decathlon, Sport, India, Private, Limited]","[3.3, -, 4.5, LPA]","[21, Aug', 21]"
2,MERN Stack Developer,"[Binary, Numbers]","[3, -, 7, LPA]","[23, Aug', 21]"
3,Senior Copywriter,"[Ranksoldier, International, Private, Limited]","[3, LPA]","[23, Aug', 21]"
4,Corporate Sales Associate,[MiM-Essay],"[4.5, -, 6, LPA]","[23, Aug', 21]"
5,Digital Marketing Associate,"[BubbleNut, Wash]","[3.6, -, 5.4, LPA]","[23, Aug', 21]"
6,Social Media Marketing Executive,"[Erikka, India]","[3, -, 5, LPA]","[23, Aug', 21]"
7,Business Development Executive,"[Cosmic, Micro, Systems, Private, Limited]","[3, -, 4.8, LPA]","[22, Aug', 21]"
8,Operations Manager,"[Kumi, Labs]","[7, -, 8, LPA]","[22, Aug', 21]"
9,Lead Counselor,"[HOSS, -, House, Of, Soft, Skills]","[3.8, -, 4.5, LPA]","[22, Aug', 21]"
10,Angular.js Developer,"[Systaldyn, Consultancy, Private, Limited]","[3, -, 5, LPA]","[22, Aug', 21]"
11,Digital Marketing Specialist,"[Sahadya, Consultants]","[3, -, 3.5, LPA]","[22, Aug', 21]"
12,Franchise Manager - Sales (Assistant Manager ),[Regrob],"[3, -, 3.1, LPA]","[22, Aug', 21]"
13,Graphic Designer,[Cynfas],"[3, LPA]","[22, Aug', 21]"
14,Project Associate,[StrategyCo.Global],"[7, -, 12, LPA]","[21, Aug', 21]"
15,Business Development Manager,"[Narsipur, Chemicals, Private, Limited]","[5, -, 7, LPA]","[21, Aug', 21]"
16,Associate Recruiter,[Talhive],"[3, -, 5, LPA]","[21, Aug', 21]"
17,Inside Sales Specialist,[UniHyr],"[5, LPA]","[21, Aug', 21]"
18,QA Tester,"[RavGins, International, Private, Limited, (Wo...","[3, -, 4, LPA]","[21, Aug', 21]"
19,Social Media Marketing Specialist,[Zolve],"[3, -, 8, LPA]","[21, Aug', 21]"
20,Sales Executive,"[Apt, Medical, Systems, Private, Limited]","[3, LPA]","[21, Aug', 21]"
21,Data & BI Consultant,[CloudGarage],"[3, LPA]","[21, Aug', 21]"
22,Full Stack Developer,[PeakMind],"[6, -, 8, LPA]","[21, Aug', 21]"
23,Business Development Executive,"[Cafe, Tatva, Ventures, LLP]","[3, -, 5.5, LPA]","[21, Aug', 21]"
24,Learning Counselor - Sales,[Bambinos.Live],"[3, -, 3.1, LPA]","[21, Aug', 21]"
25,Program Impact Incharge (Academics),"[Open, Door, Education]","[6, -, 10, LPA]","[19, Aug', 21]"
26,Accountant,"[Lodha, &, Bhatt]","[3.6, -, 5, LPA]","[19, Aug', 21]"
27,Front End Developer,"[CoalMantra, Private, Limited]","[3, -, 4, LPA]","[19, Aug', 21]"
28,Associate Software Developer - Flutter,"[GeekSynergy, Technologies, Private, Limited]","[3, LPA]","[19, Aug', 21]"
29,Business Development Associate,"[Camp, K12]","[6, LPA]","[19, Aug', 21]"
30,Business Development Executive,[WisdmLabs],"[4, -, 5.5, LPA]","[19, Aug', 21]"
31,Associate Software Developer,"[IESoft, Technologies, Private, Limited]","[3, -, 4, LPA]","[19, Aug', 21]"
32,Key Sales Account Executive,"[Expletus, Marketing]","[3, LPA]","[19, Aug', 21]"
33,Backend Developer,[Revidd],"[3, -, 5, LPA]","[19, Aug', 21]"
34,Firmware Engineer,[RoundGlass],"[3, -, 4.2, LPA]","[19, Aug', 21]"
35,Business Development Associate,"[Sarga, Additive, Manufacturing, Private, Limi...","[3.6, LPA]","[19, Aug', 21]"
36,Customer Success Executive,"[Printrove, Products, Private, Limited]","[3, LPA]","[16, Aug', 21]"
37,Advanced Math Content Writer,"[Digituala, Lab, Enterprise, LLP]","[3, -, 4, LPA]","[16, Aug', 21]"
38,Clinical Research Coordinator,"[GastroLab, India, Private, Limited]","[3, LPA]","[16, Aug', 21]"
39,Graphic Designer,[MiM-Essay],"[4, -, 5, LPA]","[16, Aug', 21]"
40,Reactjs Developer,"[Aptagrim, Consulting, LLP]","[3, -, 4.5, LPA]","[16, Aug', 21]"