# IMBD's Top Rated 100 Movies (BeautifulSoup Web Scraping)

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
page = requests.get('https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating')
soup = BeautifulSoup(page.content)

In [3]:
movie_name = []
ratings = []
release_date = []

In [4]:
name = soup.find_all("h3",class_="lister-item-header")
for i in name:
    for j in i.find_all("a",href=True):
        movie_name.append(j.text)

In [5]:
year = soup.find_all("span",class_="lister-item-year text-muted unbold")
for i in year:
    release_date.append(i.text)

In [6]:
rating = soup.find_all("div",class_="inline-block ratings-imdb-rating")
for i in rating:
    ratings.append(i.text.replace("\n",""))

## Top Rated 100 Movie List

In [7]:
movies = pd.DataFrame(index = list(range(1,101)))
movies["Movies Name"] = movie_name
movies["Release Date"] = release_date
movies["Ratings"] = ratings

movies

                               Movies Name Release Date Ratings
1                 The Shawshank Redemption       (1994)     9.3
2                            The Godfather       (1972)     9.2
3                          Soorarai Pottru       (2020)     9.1
4                          The Dark Knight       (2008)     9.0
5                   The Godfather: Part II       (1974)     9.0
..                                     ...          ...     ...
96      Kimetsu no Yaiba: Mugen Ressha-Hen       (2020)     8.3
97                              The Father   (I) (2020)     8.3
98                          Babam ve Oglum       (2005)     8.3
99                    Inglourious Basterds       (2009)     8.3
100  Eternal Sunshine of the Spotless Mind       (2004)     8.3

[100 rows x 3 columns]