# IMBD's Top Rated 100 Indian Movies (BeautifulSoup Web Scraping)

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
page = requests.get('https://www.imdb.com/list/ls063915608/')
soup = BeautifulSoup(page.content)

In [3]:
movie_name = []
ratings = []
release_date = []

In [4]:
name = soup.find_all("h3",class_="lister-item-header")
for i in name:
    for j in i.find_all("a",href=True):
        movie_name.append(j.text)

In [5]:
year = soup.find_all("span",class_="lister-item-year text-muted unbold")
for i in year:
    release_date.append(i.text)

In [6]:
rating = soup.find_all("div",class_="ipl-rating-star small")
for i in rating:
    ratings.append(i.text.replace("\n",""))

## Top Rated 100 Indian Movie List

In [7]:
movies = pd.DataFrame(index = list(range(1,101)))
movies["Movies Name"] = movie_name
movies["Release Date"] = release_date
movies["Ratings"] = ratings

movies

                           Movies Name Release Date Ratings
1                      Rang De Basanti       (2006)     8.1
2    Lagaan: Once Upon a Time in India       (2001)     8.1
3                       Dil Chahta Hai       (2001)     8.1
4                   Gangs of Wasseypur       (2012)     8.2
5             Zindagi Na Milegi Dobara       (2011)     8.2
..                                 ...          ...     ...
96                  Kuch Kuch Hota Hai       (1998)     7.6
97                             Dhamaal       (2007)     7.3
98              Golmaal: Fun Unlimited       (2006)     7.4
99                             Aligarh       (2015)     7.8
100                              Earth       (1998)     7.7

[100 rows x 3 columns]