# Top 10 Women's ODI Players (BeautifulSoup Web Scraping)

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
soup = BeautifulSoup(page.content)

In [3]:
player_name = []
country = []
rating = []

In [4]:
player = soup.find("div",class_="rankings-block__banner--name-large")
player_name.append(player.text)

In [5]:
player_1 = soup.find_all("td",class_="table-body__cell rankings-table__name name")
for i in player_1:
    player_name.append(i.text.replace("\n",""))
Name = player_name[:10]

In [6]:
country_name = soup.find("div",class_="rankings-block__banner--nationality")
country.append(country_name.text.replace("\n","").split()[0])

In [7]:
country_name_1 = soup.find_all("span",class_="table-body__logo-text")
for i in country_name_1:
    country.append(i.text)
Country = country[:10]

In [8]:
ratng = soup.find("div",class_="rankings-block__banner--rating")
rating.append(ratng.text)

In [9]:
ratng_1 = soup.find_all("td",class_="table-body__cell rating")
for i in ratng_1:
    rating.append(i.text)
Rating = rating[:10]

# Players List

In [10]:
Top_10_Batsman = pd.DataFrame(index = list(range(1,11)))
Top_10_Batsman["Player Name"] = Name
Top_10_Batsman["Country"] = Country
Top_10_Batsman["Total Points"] = Rating

Top_10_Batsman

          Player Name Country Total Points
1         Mithali Raj     IND          762
2         Lizelle Lee      SA          758
3        Alyssa Healy     AUS          756
4      Tammy Beaumont     ENG          754
5     Stafanie Taylor      WI          736
6         Meg Lanning     AUS          723
7   Amy Satterthwaite      NZ          715
8      Natalie Sciver     ENG          706
9     Smriti Mandhana     IND          701
10    Laura Wolvaardt      SA          683