# Top 10 Women's ODI All-Rounder Players (BeautifulSoup Web Scraping)

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
soup = BeautifulSoup(page.content)

In [3]:
player_name = []
team_name = []
rating = []

In [4]:
name = soup.find("div",class_="rankings-block__banner--name-large")
player_name.append(name.text)

In [5]:
name_1 = soup.find_all("td",class_="table-body__cell rankings-table__name name")
for i in name_1:
    player_name.append(i.text.replace("\n",""))
pla_nam = player_name[:10]

In [6]:
team = soup.find_all("div",class_="rankings-block__banner--nationality")
for i in team:
    team_name.append(i.text.replace("\n","").split()[0])

In [7]:
team_1 = soup.find_all("span",class_="table-body__logo-text")
for i in team_1:
    team_name.append(i.text)
tem_nam = team_name[:10]

In [8]:
ratings = soup.find("div",class_="rankings-block__banner--rating")
rating.append(ratings.text)

In [9]:
ratings_1 = soup.find_all("td",class_="table-body__cell rating")
for i in ratings_1:
    rating.append(i.text)
ratin = rating[:10]

## Top 10 All-Rounder Players

In [10]:
Top_10_All_Rounder = pd.DataFrame(index = list(range(1,11)))
Top_10_All_Rounder["Player Name"] = pla_nam
Top_10_All_Rounder["Country Name"] = tem_nam
Top_10_All_Rounder["Rating"] = ratin

Top_10_All_Rounder

         Player Name Country Name Rating
1     Marizanne Kapp           SA    418
2       Ellyse Perry          AUS    418
3    Stafanie Taylor           WI    394
4     Natalie Sciver          ENG    365
5      Deepti Sharma          IND    331
6      Jess Jonassen          AUS    307
7   Ashleigh Gardner          AUS    252
8   Dane van Niekerk           SA    243
9      Sophie Devine           NZ    242
10   Katherine Brunt          ENG    239