# Top 10 ODI Teams Women's Cricket (BeautifulSoup Web Scraping)

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
page = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
soup = BeautifulSoup(page.content)

In [3]:
team_name = []
total_matches = []
total_points = []
ratings = []

In [4]:
team = soup.find_all("span",class_="u-show-phablet")
for i in team[:10]:
    team_name.append(i.text.replace("\n",""))

In [5]:
matches = soup.find("td",class_="rankings-block__banner--matches")
total_matches.append(matches.text)

In [6]:
points = soup.find("td",class_="rankings-block__banner--points")
total_points.append(points.text)

In [7]:
info = []
demo = soup.find_all("td",class_="table-body__cell u-center-text")
for i in demo:
    info.append(i.text)

In [8]:
for i in range(0,len(info),2):
    total_matches.append(info[i])

In [9]:
for i in range(1,len(info),2):
    total_points.append(info[i])

In [10]:
rating = soup.find("td",class_="rankings-block__banner--rating u-text-right")
ratings.append(rating.text.replace("\n","").split()[0])

In [11]:
rating_1 = soup.find_all("td",class_="table-body__cell u-text-right rating")
for i in rating_1:
    ratings.append(i.text)

## Top 10 ODI Teams

In [12]:
Top_10_ODI = pd.DataFrame(index = list(range(1,11)))
Top_10_ODI["Team Name"] = team_name
Top_10_ODI["Total Matches"] = total_matches
Top_10_ODI["Total Points"] = total_points
Top_10_ODI["Rating"] = ratings

Top_10_ODI

   Team Name Total Matches Total Points Rating
1        AUS            18        2,955    164
2        ENG            20        2,370    119
3         SA            24        2,828    118
4        IND            23        2,535    110
5         NZ            21        1,947     93
6         WI            17        1,427     84
7        PAK            20        1,496     75
8        BAN             5          306     61
9         SL            11          519     47
10       IRE             2           25     13